sudo: false

language: php

php:
  - '7.1'
  - '7.2'
  - '7.3'

cache:
  directories:
    - $HOME/.composer/cache

env:
  global:
    - COMPOSER_ARGS="--dev"

addons:
  # sonarcloud analysis with the travis plugin, see https://docs.travis-ci.com/user/sonarcloud/
  sonarcloud:
    organization: "ar2labs"
    token:
      secure: $SONAR_TOKEN

before_script:
  - composer self-update
  - composer install --no-interaction --no-suggest --no-progress

script:
  - vendor/bin/php-cs-fixer fix --config=php_cs.dist --no-interaction
  - vendor/bin/phpstan analyse src tests --level=max --no-progress
