parameters:
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - public/helpers.php
    tmpDir: .build/phpstan/
    paths:
        - app
        - boot
        - config
    level: 5
