@font-face {
  font-family: 'One Wire';
  font-style: normal;
  font-weight: 400;
  src: local('One Wire Regular'), local('One Wire-Regular'), url(../font/onewire.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.content {
  font-family: 'One Wire', sans-serif;
  padding: 0;
  margin: 0;
}

.php-info pre {
  margin: 0;
  font-family: monospace;
}

.php-info a {
  color: #0067b3;
}

.php-info a:link {
  color: #0067b3;
  text-decoration: none;
  background-color: #ffffff;
}

.php-info a:hover {
  text-decoration: underline;
}

.php-info table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  box-shadow: 1px 2px 3px #ccc;
}

.php-info .center {
  text-align: center;
}

.php-info .center table {
  margin: 1em auto;
  text-align: left;
}

.php-info .center th {
  text-align: center !important;
}

.php-info td {
  border: 1px solid #fff;
  font-size: 75%;
  vertical-align: baseline;
  padding: 4px 5px;
}

.php-info th {
  border: 1px solid #fff;
  font-size: 75%;
  vertical-align: baseline;
  padding: 4px 5px;
}

.php-info h1 {
  font-size: 150%;
}

.php-info h2 {
  font-size: 125%;
}

.php-info .p {
  text-align: left;
}

.php-info .e {
  background-color: #0067b3;
  color: #fff;
  width: 30%;
  font-weight: bold;
}

.php-info .h {
  background-color: #0067b3;
  color: #fff;
  font-weight: bold;
}

.php-info .v {
  background-color: #ddd;
  max-width: 35px;
  overflow-x: auto;
  word-wrap: break-word;
}

.php-info .v i {
  color: #999;
}

.php-info img {
  float: right;
  border: 0;
}

.php-info hr {
  width: 100%;
  background-color: #ccc;
  border: 0;
  height: 1px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}
