@font-face {
  font-family: 'One Wire';
  font-style: normal;
  font-weight: 400;
  src: local('One Wire Regular'), local('One Wire-Regular'), url(../font/onewire.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: #0067B3;
  color: #cccccc;
  font-family: 'One Wire', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 1em 0 .5em;
  line-height: 1.25;
}

h1 {
  margin: 0.5em 0;
  font-size: 2em;
  color: #ffffff;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

ul, ol {
  margin: 1em 0;
  padding-left: 40px;
}

p, figure {
  margin: 1em 0;
}

pre {
  height: auto;
  overflow: auto;
  margin: 2em;
  padding: 2em;
  border: 1px solid white;
  max-height: 10em;
  overflow: auto;
  border: 0 none hlsa(0,0%,0%,0);
  outline: 0 none hlsa(0,0%,0%,0);
  box-shadow: none;
  -webkit-appearance: none;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

a img {
  border: none;
}

sup, sub {
  line-height: 0;
}

img {
  max-width: 100%;
  height: auto;
}

label {
  margin: 0.5em 0 0.2em;
}

fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: white;
  border-bottom: 1px solid #e5e5e5;
}

input, select, textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

.content {
  margin: 5em;
}

.center {
  margin: auto;
  width: 100%;
  text-align: center;
}

.logo {
  margin: 5em 1em !important;
}

.light {
  color: #ffffff;
}

.container {
  padding-right: 15em;
  padding-left: 15em;
  margin-right: auto;
  margin-left: auto;
}

.form {
  cursor: not-allowed;
  color: #cad2d3;
}

.color-danger {
  color: #dc3545 !important;
}

.bk-color-white {
  background-color: white;
}

.w-100 {
  width: 100%;
}

button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.80);
  /* rgba supported */
  border: 1px solid #999;
  /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0);
  /*IE9 + everything else*/
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

.btn-success {
  background: rgb(28, 184, 65);
  color: white;
}

.btn-secondary {
  background: rgb(66, 184, 221);
  /* this is a light blue */
  color: white;
}
