@font-face {
  font-family: 'One Wire';
  font-style: normal;
  font-weight: 400;
  src: local('One Wire Regular'), local('One Wire-Regular'), url(../font/onewire.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: #0067B3;
  color: #cccccc;
  font-family: 'One Wire', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 1em 0 .5em;
  line-height: 1.25;
}

h1 {
  margin: 0.5em 0;
  font-size: 2em;
  color: #ffffff;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

ul, ol {
  margin: 1em 0;
  padding-left: 40px;
}

p, figure {
  margin: 1em 0;
}

pre {
  height: auto;
  overflow: auto;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

a img {
  border: none;
}

sup, sub {
  line-height: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

.content {
  margin: 5em;
}

.center {
  margin: auto;
  width: 100%;
  text-align: center;
}

.logo {
  margin: 5em 1em !important;
}

.light {
  color: #ffffff;
}