.row {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.pdg-l {
  padding-left: 1em;
}

.pdg-r {
  padding-right: 1em;
}

.row-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-1 {
  display: flex;
  flex: 1;
}

.flex-2 {
  display: flex;
  flex: 2;
}

.flex-10 {
  display: flex;
  flex: 10;
}

.action-select {
  padding-left: 1em;
}

.btn {
  cursor: pointer;
  background: #27ae60;
  display: inline-block;
  padding: .5em 1em;
  color: #fff;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: #2ecc71;
}

.btn:active {
  background: #27ae60;
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.json-area {
  margin: 0;
  padding: 1em;
  border: 1px solid silver;
  height: auto;
  max-height: 16.5em;
  overflow: auto;
  background-color: #eef2f7;
  border: 0 none hlsa(0,0%,0%,0);
  outline: 0 none hlsa(0,0%,0%,0);
  box-shadow: none;
  -webkit-appearance: none;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

.json-key {
  color: brown;
}

.json-value {
  color: navy;
}

.json-string {
  color: olive;
}
