{% extends 'templates/layout.twig' %}

{% block content %}

  <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to
      improve your experience.</p>
  <![endif]-->

  <h1>
    Wiring micro framework
    <h5></h5>
  </h1>

  <img src="/img/watermark.png">

  <div style="margin: 3em;">
    <a href="/user" title="GitHub">User</a> &nbsp;|&nbsp;
    <a href="/about" title="About">About</a> &nbsp;|&nbsp;
    <a href="/book" title="Book">Book</a> &nbsp;|&nbsp;
    <a href="/logs" title="Logs">Logs</a> &nbsp;|&nbsp;
    <a href="/info" title="Info">Info</a>
  </div>

  <footer>
    <p>©
      {{ "now"|date("Y") }},
      <a href="https://github.com/ar2labs" title="GitHub">
        AR2 Labs
      </a>- Open Source Community.
    </p>
  </a>
</p></footer>{% endblock %}{% block script %}{% endblock %}
