{% extends 'templates/layout.twig' %}
{% block content %}
  <div class="content">
    <div class="center">
      <!--[if lt IE 9]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser.
          Please <a href="http://browsehappy.com/">upgrade your browser</a> to
          improve your experience.</p>
      <![endif]-->

      <h1>Wiring micro framework</h1>

      <div>
        <a href="https://travis-ci.org/ar2labs/wiring" alt="Travis CI">
          <img src="https://travis-ci.org/ar2labs/wiring.svg?branch=master"></a>
        <a href="https://packagist.org/packages/ar2labs/wiring">
          <img src="https://poser.pugx.org/ar2labs/wiring/d/total.svg"></a>
        <a href="https://packagist.org/packages/ar2labs/wiring">
          <img src="https://poser.pugx.org/ar2labs/wiring/v/stable.svg"></a>
      <div>

      <img src="/img/watermark.png" class="logo">

      <footer class="light">
        <div>
          <a href="/about" title="About">About</a> &nbsp;|&nbsp;
          <a href="/user" title="Contributors">Contributors</a> &nbsp;|&nbsp;
          <a href="/info" title="Info">Info</a>
        </div>
        <div>
          <p>
            <a href="https://packagist.org/packages/ar2labs/wiring">
              <img src="https://poser.pugx.org/ar2labs/wiring/license.svg"></a>
          </p>
        </div>
        <div>
          <p>©
            {{ "now"|date("Y") }},
            <a href="https://github.com/ar2labs" target="_blank">AR2 Labs</a>
            - Open Source Community.
          </p>
        </div>
      </footer>
    </div>
  </div>
{% endblock %}