<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <!-- To prevent most web crawlers from search engines index this info page -->
  <meta name="robots" content="noindex">

  <!-- Meta tags to control layout in mobile browsers -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  <!-- Shortcut icons -->
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="shortcut icon" type="image/ico" href="img/favicon.ico" />

  <!-- Proprietary style sheets -->
  <link rel="stylesheet" href="{{ '/css/simple.css' }}">
  <link rel="stylesheet" href="{{ '/css/phpinfo.css' }}">

  <title>PHP Info</title>
</head>
<body data-spy="scroll" data-target="#primary-menu">
  <div class="content">
    <div class="center">
      <div class="php-info">
        {{ phpinfo | raw }}
      </div>
    </div>
  </div>
</body>
</html>