{% extends "templates/error.twig" %}
{% block content %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>400 - Requisição inválida</h2>
                    <p>O pedido não pôde ser entregue devido à sintaxe incorreta, por favor verifique e tente novamente. Requerido:
                        <strong>{{ allow }}</strong></p>
                    <a href="/">Por favor, volte à nossa página inicial.</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block script %}

{% endblock %}