{% extends "layout/error.twig" %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>405 - Método não permitido</h2>
            <p>Método não permitido. Requerido:
                <strong>{{ allow }}</strong></p>
            <a href="/">Por favor, volte à nossa página inicial.</a>
        </div>
    </div>
</div>
{% endblock %}
