{% extends "layout/error.twig" %}
{% block content %}
<br>
<div class="container">
    <h1 class="header"><i class="ban icon"></i>
        405 - Método não permitido</h1>
    <h4>Método não permitido. Requerido => <strong>{{ allow }}</strong></h4>
</div>
{% endblock %}
