{% extends "layout/error.twig" %}
{% block content %}
  <div class="content">
    <div class="center">
      <h2>405 - Method not allowed</h2>
      <p>Method not allowed. Required:
        <strong>{{ allow }}</strong></p>
      <a href="/">Please return to the home page and try again.</a>
    </div>
  </div>
{% endblock %}
