{% extends "templates/error.twig" %}
{% block content %}
  <div class="content">
    <div class="center">
      <h2>404 - Not Found</h2>
      <p>A page you are looking for is not found.<br>
          Check the address bar to make sure your URL is spelled
          correctly.</p>
      <a href="/">Please return to the home page and try again.</a>
    </div>
  </div>
{% endblock %}
{% block script %}

{% endblock %}