  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal">
    <label class="modal__bg" for="modal-1"></label>
    <div class="modal__inner">
      <label class="modal__close" for="modal-1"></label>
      <h2>About</h2>
      <div class="center">
       <img src="img/wiring-logo.png" alt="" />
      </div>
      <p>Wiring is a PHP micro framework core with Interoperability (PSRs).</p>
      <p>This package is compliant with
        <a href="https://www.php-fig.org/psr/psr-1/" target="_blank">PSR-1</a>,
        <a href="https://www.php-fig.org/psr/psr-3/" target="_blank">PSR-3</a>,
        <a href="https://www.php-fig.org/psr/psr-4/" target="_blank">PSR-4</a>,
        <a href="https://www.php-fig.org/psr/psr-6/" target="_blank">PSR-6</a>,
        <a href="https://www.php-fig.org/psr/psr-7/" target="_blank">PSR-7</a>,
        <a href="https://www.php-fig.org/psr/psr-11/" target="_blank">PSR-11</a>,
        <a href="https://www.php-fig.org/psr/psr-12/" target="_blank">PSR-12</a>,
        <a href="https://www.php-fig.org/psr/psr-14/" target="_blank">PSR-14</a>,
        <a href="https://www.php-fig.org/psr/psr-15/" target="_blank">PSR-15</a>,<br>
        <a href="https://www.php-fig.org/psr/psr-17/" target="_blank">PSR-17</a>
        and <a href="https://github.com/arcostasi" target="_blank">PSR-18.</a></p>
    </div>
  </div>

  <input class="modal-state" id="modal-2" type="checkbox" />
  <div class="modal">
    <label class="modal__bg" for="modal-2"></label>
    <div class="modal__inner">
      <label class="modal__close" for="modal-2"></label>
      <h2>Contributors</h2>
      <div class="center">
        <img src="img/wiring-logo.png" alt="" />
      </div>
      <div>
        <ul>
          <li>Anderson Costa (<a href="https://github.com/arcostasi" target="_blank">@arcostasi</a>)</li>
          <li>Chun-Sheng, Li (<a href="https://github.com/peter279k" target="_blank">@peter279k</a>)</li>
          <li>Vinicius (<a href="https://github.com/vinyvicente" target="_blank">@vinyvicente</a>)</li>
          <li>Alisson Lopes (<a href="https://github.com/alissonl3" target="_blank">alissonl3</a>)</li>
          <li>André Silva (<a href="https://github.com/devgnx" target="_blank">devgnx</a>)</li>
        </ul>
      </div>
    </div>
  </div>
