<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="author" content="AR2 Labs">

    <!-- Meta tags mais utilizadas nos robos de busca -->
    <meta name="description" content="Wiring is a PHP micro framework core.">
    <meta name="keywords" content="wiring,ar2labs,microframework,php,psr">
    <meta name="robots" content="index, follow">

    <!-- Meta tags para controlar o layout em navegadores móveis -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- Shortcut icon -->
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="img/favicon.ico" />

    <!-- Style sheets -->
    <link rel="stylesheet" href="{{ '/css/style.min.css' }}">

    <title>{{ pageTitle }}</title>
</head>
<body data-spy="scroll" data-target="#primary-menu">

  <h1>
    Wiring micro framework
    <h5></h5>
  </h1>

{% block content %}{% endblock %}
     <!-- Scripts -->
{% block script %}{% endblock %}

</body>
</html>
